
$body-type-stack: "Gill Sans", Helvetica, Arial, sans-serif;
$headline-type-stack: Georgia, serif;
$text-color: #555
$bg-color: #D4D4D4

*
  box-sizing: border-box
  font-family: $body-type-stack
  font-size: 100%
  background-color: $bg-color
  color: $text-color
  line-height: 1.5

#content
  margin: 0 auto      
  max-width: 32em

h1
  margin-top: 1.5em
  //height: 75px
  margin-bottom: 1.25em
  font-size: 1.5em
  text-align: center
    
.nav
  font-family: $headline-type-stack
  font-weight: 300

.selected
  font-weight: 700
  letter-spacing: 0.1em
  
a
  color: $text-color
  text-decoration: none
  border-bottom: 1px solid rgba(0, 0, 0, 0)
  &:hover
    color: $text-color
    border-bottom: 1px solid $bg-color
